name: Main Branch

on:
  push:
    branches: [main]

env:
  EXAMPLES: "minimal standard"

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: upbound/up-action@v2
      - name: Build
        run: make build
      - name: Render Examples
        run: make 'render:all'
      - name: Validate Examples
        run: make 'validate:all'

  test:
    runs-on: ubuntu-latest
    needs: validate
    steps:
      - uses: actions/checkout@v4
      - uses: upbound/up-action@v2
      - name: Build
        run: make build
      - name: Run Tests
        run: make test

  version-and-tag:
    runs-on: ubuntu-latest
    needs: [validate, test]
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Semantic Version
        id: version
        uses: paulhatch/semantic-version@v5.4.0
        with:
          version_format: "${major}.${minor}.${patch}"
          major_pattern: "BREAKING CHANGE:"
          minor_pattern: "feat:"
      - name: Create Tag
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git tag -a v${{ steps.version.outputs.version }} -m "Release v${{ steps.version.outputs.version }}"
          git push origin v${{ steps.version.outputs.version }}
